Module8 -13/.tooling/apdev-examplef721f661-2993-439a-abfd-550b3f855338/apdev-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="getCSVaccounts" doc:id="4fef9b5d-c68d-46f6-8aec-686e519985cc" >
		<file:listener doc:name="On New or Updated File" doc:id="19963983-0637-43f0-a140-60da52cb2e39" config-ref="File_Config" directory="input" moveToDirectory="output" renameTo='#[attributes.fileName ++ ".backup"]'>
			<scheduling-strategy >
				<fixed-frequency timeUnit="HOURS"/>
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="b76b9472-bed8-4ffc-b9b7-5c3da2b79836" />
	</flow>
	<flow name="syncDBaccountToCSV" doc:id="e9429a3b-dae0-4ca7-8020-0fa424a72c34" >
		<db:listener doc:name="syncDBaccountToCSV" doc:id="038f7791-96eb-48e7-9dad-43695bf8dc78" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</db:listener>
	</flow>
</mule>
